main {
    position: relative;
    top: 4rem;
    margin-bottom: 4rem;
}

.breadcrump {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;
    top: 4rem;
    min-width: 280px;
    position: relative;
    z-index: 20;
    background-color: white;
}

.breadcrump span {
    color: rgb(100, 100, 100);
}

.breadcrump a {
    text-decoration: none;
    color: black;
}

.breadcrump a:visited {
    color: black;
}

.breadcrump a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.product-cont-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.product-cont-cont a {
    text-decoration: none;
    color: black;
}

.product-cont {
    width: 45%;
    text-align: center;
    margin: 1rem 0;
    position: relative;
    transform: translateY(20%);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.product-cont img {
    width: 100%;
    height: auto;
}

.product-inner-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.product-inner-img:hover {
    opacity: 1;
}

.title {
    font-weight: 400;
    margin-top: 0.7rem;
    font-size: 1rem;
}

.composition {
    margin: 0.7rem 0;
    font-weight: 300;
}

.price {
    font-weight: 300;
}

/* filter and sort */

.filter-sort-cont {
    height: 3rem;
    position: relative;
    top: 4rem;
    z-index: 10;
    min-width: 280px;
}

.for-filter {
    position: relative;
    top: 4rem;
    height: 1px;
    border: none;
    background-color: rgb(189, 189, 189);
}

.for-filter1 {
    z-index: 20;
}

.for-filter2 {
    transform: translateY(calc(-1rem - 1px));
}

.filter-tags {
    position: relative;
    top: 4rem;
    width: 90%;
    margin: 0.5rem auto;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding-left: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    margin: 0.5rem 0.5rem;
    transition: transform 0.2s ease-in;
    transform: scale(0);
}

.tag p {
    font-size: 1rem;
    font-weight: 200;
    pointer-events: none;
}

.tag i {
    margin-left: 0.5rem;
    color: black;
    background-color: rgb(235, 235, 235);
    padding: 0.5rem 0.65rem;
    border-radius: 50%;
    pointer-events: none;
}

.tag:hover > i {
    background-color: rgb(189, 189, 189);
}

.filter-sort {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    
}

.filter-cont {
    display: flex;
}

.filter {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sort {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-arrow {
    margin: 0 1rem;
    transition: transform 0.2s ease-in;
}

.clear-all {
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding-left: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    margin: 0.5rem 0.5rem;
    transition: transform 0.2s ease-in;
    transform: scale(0);
}

.clear-all p {
    font-size: 1rem;
    font-weight: 200;
    pointer-events: none;
}

.clear-all i {
    margin-left: 0.5rem;
    color: black;
    background-color: rgb(235, 235, 235);
    padding: 0.5rem 0.65rem;
    border-radius: 50%;
    pointer-events: none;
}

.clear-all:hover > i {
    background-color: rgb(189, 189, 189);
}


.sort-arrow {
    margin-left: 1rem;
    transition: transform 0.2s ease-in;
}

.hidden-filter {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(189, 189, 189);
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    opacity: 0;
    pointer-events: none;
    padding: 0.5rem;
}

.visible-color, .visible-material, .visible-size {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    background-color: white;
    z-index: 1;
}

.color-arrow-v, .material-arrow-v, .size-arrow-v {
    transition: transform 0.2s ease-in;
}

.color-cont, .material-cont, .size-cont {
    overflow: hidden;
}

.invisible-color, .invisible-material, .invisible-size {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 0;
    pointer-events: none;
    z-index: -1;
    transition: max-height 0.2s ease-in;
}

.filter-choice {
    display: flex;
    margin: 0.5rem 0.5rem;
    align-items: center;
    cursor: pointer;
}

.filter-choice p {
    pointer-events: none;
}



.check-box {
    border: 1px solid black;
    height: 15px;
    width: 15px;
    margin-right: 0.5rem;
    pointer-events: none;
    background-color: white;
    font-size: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .filter-choice:hover > .check-box {
    background-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
} */

.filter-hr {
    height: 1px;
    border: none;
    background-color: grey;
    width: 90%;
    margin: 0rem auto;
}

/* Hidden Sort Dropdown */

.hidden-sort {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
    border-bottom: 1px solid rgb(189, 189, 189);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    opacity: 0;
    pointer-events: none;
}

.sort-type {
    margin: 1rem 0;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-type p {
    pointer-events: none;
}

.no-constraint {
    margin: 1rem auto;
    text-align: center;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.sort-type:hover {
    color: rgb(139, 15, 15);
}

@media only screen and (min-width: 800px) {
    .product-cont-cont {
        justify-content: center;
    }

    .product-cont {
        width: 22%;
        margin: 1rem 0.5rem;
    }

    .hidden-sort {
        width: 30%;
        border-left: 1px solid rgb(189, 189, 189);
    }

    .hidden-filter {
        width: 50%;
        border-right: 1px solid rgb(189, 189, 189);
    }

}