* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

header {
    display: grid;
    grid-template: 1fr / 30% 1fr 30%;
    height: 4rem;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
    align-self: center;
    margin-left: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: black;
}

nav {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    align-self: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    position: relative;
    text-underline-offset: 0.7rem;
}

nav li:hover {
    text-decoration: underline 0.1rem solid black;
}

.nav-buttons {
    display: flex;
    grid-area: 1 / 3 / 2 / 4;
    justify-self: right;
    align-self: center;
    margin-right: 3rem;
    font-size: 1.2rem;
}

.cart {
    margin: 0 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 10rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 6.5rem;
    margin: 0 0.5rem;
    height: 1.5rem;
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 1rem;
    outline: none;
}

.search-bar i {
    
    border-radius: 50%;
}


.account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account i, .cart i {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
}

.account i:hover, .cart i:hover {
    background-color: rgb(238, 238, 238);
}

.hero {
    height: 80vh;
    background-color: skyblue;
}