* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
}

.free-shipping {
    height: 3rem;
    background-color: #6d6875;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: seashell;
}

header {
    display: grid;
    grid-template: 1fr / 30% 1fr 30%;
    height: 4rem;
    position: fixed;
    width: 100vw;
    z-index: 30;
    background-color: white;
    border-bottom: rgb(230, 230, 230) solid 1px;
    
}

.header2 {
    display: none;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
    align-self: center;
    margin-left: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}

/* List of Menus */
nav {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    align-self: center;
    transition: opacity 0.2s ease-in;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    position: relative;
    text-underline-offset: 0.7rem;
}

nav li:hover {
    /* text-decoration: underline 0.1rem solid black; */
    text-decoration-color: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1rem;
}

/* SearchBar, Cart and Account Icons */
.nav-buttons {
    display: flex;
    grid-area: 1 / 3 / 2 / 4;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    font-size: 1.2rem;
    transition: opacity 0.2s ease-in;
}

.search-bar {
    transition: width 0.2s ease-in, transform 0.15s ease-in;
    width: 10rem;
    background-color: rgb(240, 240, 240);
    display: flex;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 6.5rem;
    margin: 0 0.5rem;
    height: 1.5rem;
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 1rem;
    outline: none;
    transition: width 0.2s ease-in;
}

.search-bar i {
    border-radius: 50%;
}

.cart {
    margin: 0 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease-in;
    color: black;
}

.cart:visited {
    color: black;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease-in;
}

.account i {
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    border-radius: 50%;
}
.cart i {
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    border-radius: 50%;
}

.account i:hover,
.cart i:hover {
    background-color: rgb(238, 238, 238);
}

.account i:active,
.cart i:active {
    background-color: rgb(230, 230, 230);
}

/* Cross when search is clicked */
.close-search {
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    align-self: center;
    justify-self: center;
    transition: opacity 0.15s ease-in;
}

.close-search i {
    padding: 0.5rem 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

.close-search i:hover {
    background-color: rgb(238, 238, 238);
}

.close-search i:active {
    background-color: rgb(230, 230, 230);
}

/* Search Window Animate */
.search-window {
    width: 100%;
    height: 50vh;
    position: fixed;
    z-index: 21;
    background-color: white;
    transform: translateY(-150%);
    overflow: hidden;
    transition: transform 0.4s ease-in;
    border-bottom: 1px solid rgb(230, 230, 230);
}

/* Cart Window Animate */
.cart-window {
    width: 30%;
    height: 20rem;
    position: fixed;
    z-index: 30;
    background-color: white;
    right: 0;
    top: 4rem;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}

.cart-open {
    transform: translateX(0%);
}

/* Account Window Animate */
.account-window {
    width: 30%;
    height: 20rem;
    position: fixed;
    z-index: 30;
    top: 4rem;
    background-color: purple;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}

.account-open {
    transform: translateX(0%);
}

.menu-window {
    display: none;
}

@media only screen and (max-width: 1100px) {
    body {
        overflow-x: scroll;
    }

    .search-window {
        display: none;
    }

    .cart-window {
        display: none;
    }

    .account-window {
        display: none;
    }

    header {
        display: none;
    }

    .header2 {
        display: grid;
        grid-template: 1fr / 20% 1fr 20% ;
        height: 4rem;
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 30;
        border-bottom: solid rgb(230, 230, 230) 1px;
    }

    .burger {
        justify-self: center;
        align-self: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .line {
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 11.2px 0 11.2px 0;
        transition: transform 0.15s ease-in;
    }

    .logo2 {
        justify-self: center;
        align-self: center;
    }

    .logo2 a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 1.3rem;
    }

    .nav-btns2 {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-btns2 i {
        padding: 0.5rem;
        border-radius: 50%;
    }

    .nav-btns2 i:hover {
        background-color: rgb(238, 238, 238);
    }

    .nav-btns2 a {
        color: black;
    }

    #cart-phone {
        margin-right: 1rem;
        padding-top: 0.6rem;
    }

    .menu-window {
        display: block;
        position: fixed;
        left: 0;
        top: 4rem;
        bottom: 0;
        width: 50%;
        background-color: white;
        z-index: 30;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
        overflow: scroll;
    }
}

@media only screen and (max-width: 700px) {
    .menu-window {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .header2 {
        grid-template: 1fr / 30% 1fr 30% ;
    }
}

.fa-shopping-cart {
    position: relative;
}

.shopping-sub {
    width: 15px;
    height: 15px;
    background-color: rgb(134, 35, 35);
    position: absolute;
    border-radius: 50%;
    right: 0;
    transform: translateY(-70%) translateX(-10%);
    color: white;
    font-size: 0.7rem;
    display: none;
    justify-content: center;
    align-items: center;
}