/* main {
    margin-top: 3rem;
} */

.designer1 {
    display: flex;
    padding-top: 3rem;
    background-color: #F6F1DE;
    color: black;
}

.knitwear-cont {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knitwear {
    width: 100%;
    height: 80%;
    background-color: #F6F1DE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.knitwear h4 {
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
}

.knitwear p {
    margin: 1rem 0;
}

.knitwear img {
    height: auto;
    width: 40%;
    margin: 1rem 0;
}

.knitwear a {
    border: solid 3px hsl(0, 100%, 15.6%);
    background-color: white;
    padding: 0.7rem;
    cursor: pointer;
    margin: 1rem 0 2rem 0;
}

.knitwear a:hover {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

.knitwear a:active {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

.banner1 {
    width: 50%;
    background-color: #F6F1DE;
    height: fit-content;
}

.banner1 img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .designer1 {
        display: block;
        min-width: 280px;
    }

    .knitwear-cont {
        width: 100%;
    }

    .knitwear {
        width: 100%;
    }

    .banner1 {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {

    .knitwear img {
        width: 80%;
    }
}

/* designer 2 */

.designer2 {
    display: flex;
    background-color: #F6F1DE;
    color: black;
    padding-bottom: 3rem;
}

.banner2 {
    width: 50%;
    height: auto;
    background-color: #F6F1DE;
}

.banner2 img {
    width: 100%;
    height: auto;
}

.dress-cont {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dress {
    width: 100%;
    background-color: #F6F1DE;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dress img {
    width: 40%;
    height: auto;
    margin: 1rem 0;
}

.dress h4 {
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
}

.dress p {
    margin: 1rem 0;
}

.dress a {
    border: solid 3px hsl(0, 100%, 15.6%);
    background-color: white;
    padding: 0.7rem;
    cursor: pointer;
    margin: 1rem 0 0rem 0;
}

.dress a:hover {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

.dress a:active {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

@media only screen and (max-width: 800px) {
    .designer2 {
        display: block;
        min-width: 280px;
    }

    .dress-cont {
        width: 100%;
        margin-top: 1rem;
    }

    .banner2 {
        width: 100%;
    }

    .dress {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {

    .dress img {
        width: 80%;
    }
}

/* Shoes */

.designer3 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* min-height: 500px; */
    /* height: 60vh; */
    /* min-height: 600px; */
}

.designer3 img {
    width: 35%;
    height: auto;
}

.designer3 .shoes {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.shoes h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
    font-family: "Ubuntu", sans-serif;
}

.shoes p {
    width: 60%;
    text-align: center;
}

.shoes a {
    border: solid 3px hsl(0, 100%, 15.6%);
    background-color: white;
    padding: 0.7rem 2rem;
    cursor: pointer;
}

.shoes a:hover {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

.shoes a:active {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

.shoes .shoes-imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shoes .shoes-imgs img {
    width: 20%;
}

.mobile-shoes {
    display: none;
}

.mobile-shoes2 {
    min-width: 280px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-shoes2 p {
    width: 90%;
    text-align: center;
    margin-bottom: 1rem;
}

.mobile-shoes2 a {
    border: solid 3px hsl(0, 100%, 15.6%);
    background-color: white;
    padding: 0.7rem 2rem;
    cursor: pointer;
}

.mobile-shoes2 a:hover {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

.mobile-shoes2 a:active {
    background-color: hsl(0, 100%, 15.6%);
    color: white;
}

#shoes-title {
    min-width: 280px;
    display: none;
    font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 1100px) {
    /* .designer3 {
        height: 80vh;
    } */

    .designer3 .shoes {
        display: none;
    }

    .mobile-shoes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 30%;
    }

    .mobile-shoes2 p {
        width: 80%;
    }

    .mobile-shoes img {
        width: 70%;
    }

    .designer3 img {
        width: 60%;
    }

    .mobile-shoes2 {
        display: flex;
    }

    #shoes-title {
        display: block;
        width: 90%;
        margin: 2rem auto;
        text-align: center;
    }
}

@media only screen and (max-width: 580px) {
    .designer3 {
        min-height: 200px;
        min-width: 280px;
        /* height: 50vh; */
    }

    .designer3 img {
        width: 70%;
        height: auto;
    }
}

/* Suggestions Section */
.suggestions-container {
    width: 100%;
    margin: 3rem 0 3rem 0;
    background-color: white;
    min-width: 280px;
    overflow: hidden;
}

.suggestions-container h2 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

.suggestions {
    display: grid;
    grid-template: 1fr / 5% 1fr 5%;
    margin: 1rem 0;
    
    background-color: white;
}

.invisible1 {
    z-index: 4;
    background-color: white;
}

.visible1 {
    width: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: left;
    align-self: center;
    transition: transform 0.2s ease-in;
    z-index: 2;
    overflow: hidden;
}

.invisible2 {
    z-index: 4;
    background-color: white;
}

.sug {
    width: 10%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 0.5rem;
    overflow: hidden;
    border-radius: 5px;
}

.sug img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}

.sug2 {
    background-image: url("../pics/sug2.jpg");
}

.sug3 {
    background-image: url("../pics/sug3.jpg");
}

.sug4 {
    background-image: url("../pics/sug4.jpg");
}

.sug5 {
    background-image: url("../pics/sug5.jpg");
}

.sug6 {
    background-image: url("../pics/sug9.jpg");
}

.sug7 {
    background-image: url("../pics/sug7.jpg");
}

.sug8 {
    background-image: url("../pics/sug8.jpg");
}

.suggestions-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(161, 161, 161);
    margin: 0 1rem;
    cursor: pointer;
}

.dot:hover {
    background-color: hsl(0, 100%, 15.6%);
}

.a-left {
    font-size: 2rem;
    cursor: default;
    color: rgb(161, 161, 161);
}

.a-right {
    font-size: 2rem;
    cursor: pointer;
}

.dot1 {
    background-color: hsl(0, 100%, 15.6%);
}

@media only screen and (max-width: 1100px) {
    .visible1 {
        width: 200%;
        justify-content: space-between;
    }

    .sug {
        width: 10%;
    }
}

@media only screen and (max-width: 800px) {
    .visible1 {
        width: 200%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .sug {
        width: 16%;
        margin: 1rem 2rem;
    }

    .dot2 {
        display: none;
    }

    .dot3 {
        display: none;
    }

    .dot4 {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .sug {
        width: 20%;
        margin: 0.5rem 0.5rem;
    }

    .popupText p {
        font-size: 0.8rem;
    }
}

.designer {
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transform: translateY(100px);
}

.just-background {
    background-color: #F6F1DE;
}

@media only screen and (max-width: 500px) {
    .designer {
        transform: translateY(70px);
    }
}