main {
    position: relative;
    top: 4rem;
    margin-bottom: 4rem;
}

.breadcrump {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.breadcrump span {
    color: rgb(100, 100, 100);
}

.breadcrump a {
    text-decoration: none;
    color: black;
}

.breadcrump a:visited {
    color: black;
}

.breadcrump a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}